
#opc_account_choice {padding:0 15px;}
#opc_account_choice .opc_float {
	float:left;
	width:350px
}
#opc_account_choice .opc_float ul {margin:0 0 20px 30px}

#new_account_form  h3 {
	margin:0 0 15px 0;
	padding:8px;
	font-size:14px;
	color:#000;
	text-transform:uppercase;

}
#center_column #new_account_form p {margin:0; padding:0 0 10px 0;}
#new_account_form p.required {color:#222;}
#new_account_form p.required  sup {color:#990000;}

#new_account_form p.radio label {
	padding-right:10px;
	font-size:14px;
}

#new_account_form p.checkbox label {
	font-size:12px;
}

#new_account_form p.checkbox input {
	margin-left:260px;
}


#new_account_form span.form_info,
#new_account_form span.inline-infos, #new_account_form p.inline-infos {
	display:block;
	margin:5px!important;
	color:#666
}
#new_account_form .id_state, #new_account_form .dni, #new_account_form .postcode {
	display: none;
}
#opc_account_errors {
	margin: 10px;
	margin-bottom: 15px;
}
#center_column #new_account_form p#opc_account_saved {
	color: green;
	float: right;
	margin-right: 20px;
	padding: 0;
}