<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>sociallogin</name>
            <displayName><![CDATA[Social Login]]></displayName>
            <version><![CDATA[2.0]]></version>
            <description><![CDATA[Let your users log in and comment via their accounts with popular ID providers such as Facebook, Google, Twitter, Yahoo, Vkontakte and over 21 more!.]]></description>
            <author><![CDATA[LoginRadius]]></author>
            <tab><![CDATA[]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>