<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>ccavenue</name>
            <displayName><![CDATA[CCAvenue&amp;reg;]]></displayName>
            <version><![CDATA[1.1]]></version>
            <description><![CDATA[CCAvenue&amp;reg; is a premiere payment gateway used by more than 85% of all e-merchants in India.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>