.iosSlider {
	
	overflow: hidden;
	width: 690px;
	height: 344px;
	margin:auto 0 0px;
	float:left;
}

.iosSlider .slider {
	width: 100%;
	height: 100%;
}

.iosSlider .slider .slide {
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
    position: relative;
}

.tintButton {			
	color:#fff!important;
	cursor:pointer;
	padding:5px 12px;
	font-size:12px;
    font-weight: normal;
	text-decoration: none;
}


/* 
	Bullets and thumbnails navigation	
*/
.iosSlider .sliderNavi {
    position: absolute;
    right:15px;
    bottom:15px;
}
.iosSlider .sliderNavi .naviItem {	
	
	float: left;
	 background: none repeat scroll 0 0 #EAE5E4;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 15px;
	text-indent: -9999px;
	width: 50px;
	border:3px solid #fff;
}
/* Current bullet */
.iosSlider .sliderNavi .naviItem.selected {	
	background:#F15A3B;
}
/* Bullet hover state */
.iosSlider .sliderNavi .naviItem:hover {		
	background:#F15A3B;
}
.iosSlider:hover .prev,
.iosSlider:hover .next {
	display:block;
}
.iosSlider .prev,
.iosSlider .next
{
    display:none;
    
    position: absolute;
    z-index: 25;
	width: 45px;
	height: 45px;
	top:165px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
	-moz-opacity: 0.5; /* Mozilla 1.6 � ���� */
	-khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.5; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}

.iosSlider .next {
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}

.iosSlider .next:hover,
.iosSlider .next:focus {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
	-moz-opacity: 1; /* Mozilla 1.6 � ���� */
	-khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
	opacity: 1; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}

.iosSlider .next:active {
    
    
}

.iosSlider .prev {
    width: 40px;
    height: 40px;
    cursor: pointer;
   
}


.iosSlider .prev:hover, 
.iosSlider .prev:focus {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
	-moz-opacity: 1; /* Mozilla 1.6 � ���� */
	-khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
	opacity: 1; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}

.iosSlider .prev:active {
    
}

/* left arrow */
.iosSlider .prev {
	left: 15px;	
}
/* right arrow */
.iosSlider .next {
	right: 15px;
}

/* Carousel */
.carousel {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height:283px;
	margin:auto 0 0px;
}

.carousel .slider {
	width: 100%;
}


.prev,
.next
{	
    display: block;
    position: absolute;
    z-index: 25;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top:-45px;
    
}

.next {
    background: transparent url(../../img/car-next.png) no-repeat center center;
    background-color:#18191D;
}
.prev {
    background: transparent url(../../img/car-prev.png) no-repeat center center;
    background-color:#18191D;
}

.prev:hover, 
.prev:focus,
.next:hover,
.next:focus {
    background-color:#58BAE9;
}


/* left arrow */
.prev {
	right: 32px;	
}
/* right arrow */
.next {
	right: 0px;
}

/* Media */

.more-views {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
    height:70px;
    margin:auto 0 15px;
}

.more-views .slider {
    width: 332px;
    margin:0 auto;
}

.more-views .slide {
	width: 68px;
}

/* left arrow */
.more-views-arrow.prev {
	left: 0;
	top:377px;
}
/* right arrow */
.more-views-arrow.next {
	right: 0;
	top:377px;
}


/* Carousel Related */

.related {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
    height:318px;
    margin:auto 0 15px;
}

.related .slider {
	width: 100%;
}


.related .prev,
.related .next
{	
    display: block;
    position: absolute;
    z-index: 25;
	width: 40px;
	height: 40px;
	top:85px;		
}

.related .next {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.related .prev {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* left arrow */
.related .prev {
	left: 0;	
}
/* right arrow */
.related .next {
	right: 0;
}

.related-slider .slide {
	height:285px;

}