/* Special style for block cart*/
#left_column #cart_block, #right_column #cart_block {
}
#header  #cart_block h4 {
	display: none;
}
#header #cart_block {


}
#cart_block.cart_block_hover {display:block}
#cart_block h4 span {
	float: right;
	padding-left: 10px;
	text-transform: none;
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer
}

#cart_block  .block_content {padding:8px 8px 16px 8px;}

#cart_block #cart_block_summary {display:none}
#cart_block .quantity-formated {
	display:inline-block;
	margin-right:5px;
	min-width:18px;
}
#cart_block .cart_block_product_name {}
#cart_block .remove_link {
    display: inline-block;
    float: right;
    height: 12px;
    margin: 1px 0 0 13px;
    width: 12px;
}
.buttonpostion{float:left;}
#cart_block .remove_link a {
	display:inline-block;
	   height: 15px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 15px;
	background: url(../../../img/btn_remove.png) no-repeat 0 0
}
#cart_block .remove_link a:hover {
	background: url(../../../img/btn_remove.png) no-repeat 0 -14px
}


#cart_block .price {
	float:right
}

#cart_block #cart_block_list dl {
	padding-bottom:10px
}
#cart_block #cart_block_list dt { clear: both;
    padding: 13px 0;}
#cart_block #cart_block_list dt a {float: left;}
#cart_block #cart_block_list dd {
	margin-left:20px
}

.block-cart-header .header-items img{
    margin-right: 5px;
}

#cart_block #cart-prices {
	padding:10px 4px;
	line-height:20px;
	font-weight:bold;
	border-top:1px solid #EFEFEF;
}
#cart_block #cart_block_shipping_cost,
#cart_block #cart_block_total {
	float:right
}
#cart_block #cart_block_shipping_cost {font-weight:bold}

#cart_block #cart-buttons .button_small {display:none;}
#cart_block #cart-buttons  #button_order_cart {
	float:right;
	padding-left:20px
}

#cart_block table#vouchers {
	clear: both;
	width:100%
}
#cart_block table#vouchers tr td{
	padding: 2px;
}
#cart_block table#vouchers tr td.quantity{
	margin-right:5px;
	min-width:18px
}
#cart_block table#vouchers tr td.delete{
	padding-left: 0;
	padding-right: 0;
	text-align: right;
	width: 15px;
}

