/* Menu 2 styles */
#nav li { position:relative; text-align:left;	}
#nav li.over { z-index:998; }
#nav a,
#nav a:hover { display:block; line-height:1.3em; text-decoration:none; }
#nav span { display:block; cursor:pointer; white-space:nowrap; }
#nav li ul span {white-space:normal; }

/* 0 Level */
/* 1st Level */
#nav ul li.parent {  }
#nav ul li.active { margin:0; border:0; }
#nav ul a,
#nav ul a:hover { float:none; }
#nav ul li a { font-weight:normal !important; }
#nav ul.level0 { border-top:0;}


#nav > li > ul > li ul { margin-left:3px; }
.blocklist > li > ul > li,
#nav > li > ul > li ul > li {  }
.blocklist > li > ul > li { margin:0; }

/* 2nd Level */
#nav ul,
#nav div { position:absolute;
      width:15em;
      top: 42px;
      background:#fff; 
     left: 0;
      z-index: 9999;
     
}
 #nav ul{ display: none;
 }


#nav > div {  }
#nav div ul { position:static; width:auto; border:none; padding:0; }

/* 3rd+ Level */
#nav ul ul{
     left: 207px;
    position: absolute;
    top: 1px;
     z-index: 9999;
      display: none;
}

#nav ul li a { color: #353535;padding:10px;background:#fff; text-transform:uppercase;}
#nav ul li a:hover {
    
    background:#58BAE9;
    color:#fff;
}
#nav > li > ul > li.parent > a:hover span {
    color:#fff;
}

/* ========================== */
#nav > li  ul  {
    
}
#nav > li  ul > li { margin:0px; }
/* ========================== */

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:0; z-index:999; }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left: 140px; }
/********** Navigation > */
#nav li div.custom_menu_item  {
    width:15em;
}
/* ======================================================================================= */
