<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>smsmodule</name>
            <displayName><![CDATA[SMS Module]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[SMS Module for sending sms when order confirm]]></description>
            <author><![CDATA[GAPS]]></author>
            <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall>Are you sure you want to uninstall?</confirmUninstall>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>